@charset "utf-8";
/* CSS Document */

.no-pm{ padding:0px !important; margin:0px !important;}
.no-lp{ padding-left:0px !important; margin-left:0px !important}

.top-bg{ height:5px; background:#dfa870;}
.header { border-bottom:1px solid #b89265;}
.header img{ padding:5px 0px 5px 0px; margin-left:5px;}

.nav{ background:#b89265; border-top:1px solid #fff; border-bottom:1px solid #fff;}

.body{ border-top:1px solid #b89265; padding-right:0px; margin-right:0px; padding-left:0px; margin-left:0px;}


.left-body img{ margin-top:15px; width:100%;}
.left-body p{ font-size:14px; color:#312d2a; padding-top:10px;}

.latest-up{border:1px solid #ccc; margin-top:15px; padding-top:2px; border-bottom:7px solid #b89265; padding-bottom:30px;  }
.latest-up p{ border-bottom:1px solid #ccc;}
.latest-up p span{ font-size:18px; color:#6d2e29; font-weight:bold; line-height:40px;}
.latest-up p a{ text-transform:uppercase; font-size:12px; color:#4b4a49; float:right; margin-top:14px;}

.next-t{text-shadow:none; color:#b89265; background:#f1d9c0; padding:5px; border-radius:0.8em;}

.carousel-control{ width:auto !important; top:30px;}
.scrl{padding:10px 30px 10px 30px;}
.scrl a{ color:#4b4a49;}
 
.scrl-txt h5{ color:#7b482b; padding:0px !important;}

.footer-bg{ background:#f8e7c9; height:35px;}

.inr-img{ margin:0px 10px 10px 0px;}

.sb{ background:#dfa870 !important; border:1px solid #84553a;}

.form-group{margin-bottom: 7px !important;}
label{ font-weight: normal !important; margin-bottom:0px !important;}
.cnt{padding-bottom:5px !important;}

.social img{ margin-top:5px; margin-right:5px;}
.social img:hover{opacity:0.5}

.slide{ margin-bottom:10px;}
.carousel-indicators{ bottom:-30px !important;}
.round{ background:#f8ece0 !important; border:1px solid #b89265 !important;}

.glr a{ color:#704f39;}